# Frontend Environment Variables
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000

# Backend Environment Variables
ENVIRONMENT=development
JWT_SECRET=super-secret-jwt-key-replace-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=1440
CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

# Database & Supabase (Optional for cloud DB)
DATABASE_URL=postgresql://postgres:tartarus148@SIH@db.tthzcabeshiavxxmafsf.supabase.co:5432/postgres
SUPABASE_URL=https://tthzcabeshiavxxmafsf.supabase.co
SUPABASE_KEY=

# ML Service URL
ML_SERVICE_URL=http://127.0.0.1:8001
